<%# <%= provide :my_title, "我是title"%> 
<%= content_for :my_title do %>
我是Title
<% end %>
<h1>候選人列表</h1>

<%= link_to '新增候選人', new_candidate_path %>

<table class="table">
  <thead>
    <tr>
      <td>候選人姓名</td>
      <td>年齡</td>
      <td>政黨</td>
      <td>政見</td>
      <td>得票數</td>
    </tr>
  </thead>
  <tbody>
    <%= render @candidates %>
  </tbody>
</table>